@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply text-gray-700 dark:text-gray-300 px-3 py-2 rounded-md text-sm font-medium relative transition duration-200 ease-in-out;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #6366f1; /* Tailwind's indigo-500 */
        transition: width 0.3s ease-in-out;
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .mobile-nav-link {
        @apply block px-3 py-2 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-md text-sm;
    }
}
